<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="ja" class="ie">
<![endif]-->
<!--[if !IE]<!-->
<html lang="ja" prefix="og: http://ogp.me/ns#">
   <!--<![endif]-->
   <% include('_inc/_function') %>   
<%
$path = '';
$active = 'top';
$css = [ $path + 'common/js/slick/slick-theme.css', $path + 'common/js/slick/slick.css'];
$scripts_global=[ $path + 'common/js/slick/slick.min.js'];
$scripts=null;
%>
   <head>
     <%- include( $path + '_inc/_head') %>
   </head>
   <body class="index">
      <%- $parts.loadingAnim %>   
      <!-- ***** header  -->
      <%- include('_inc/_gnav', {isChild: false}) %>
      <!-- ///// header  -->
      <div id="fetchContent" data-content="index">
      <!-- ***** mainvisual -->
      <section class="mainvisual">
         <div class="wrap">
            <div class="mainvisual_copy">
               <p class="mainvisual_copy_en">
                  <span class="firstRow">DEVELOP</span><span class="secondRow">FOR THE</span>
                  <span class="lastRow">FUTURE.</span>
               </p>
               <h2 class="mainvisual_copy_ja">未来を拓くエンジニアスキル。</h2>
            </div>
         </div>
         <!-- **** -->
         <div class="mainvisual_graphic" id="city">
            <i class="airplane"></i>
            <div class="cloud">
               <i class="cloud_1"></i>
               <i class="cloud_2"></i>
               <i class="cloud_3"></i>
            </div>
            <div class="building">
               <i class="building_front"></i>
               <i class="building_behind"></i>
            </div>
         </div>
         <!-- //// -->
         <!-- <canvas id="city" class="mainvisual_graphic"></canvas> -->
         </section>
         <!-- ///// mainvisual  -->
         <section class="topics">
            <div class="wrap">
               <div id="topicsWrapper"></div>
            </div>
         </section>
         <section class="introduction">
            <div class="wrap">
               <header class="introduction_index">
                  <h3>"DEVELOP FOR THE FURUTE."</h3>
               </header>
               <p class="introduction_content" >
                  私たち、株式会社Donatelloは、<br>お客様の業務を分析し、<br class="spShow">受託システム開発・SESを通じ<br>
                  業務効率化・属人的ミスを軽減するための<br class="spShow">最適なシステムを提案いたします。
               </p>
            </div>
            <canvas class="pattern"></canvas>
         </section>
         <!-- ***** BODY START -->
         <main class="main">
            <div class="wrap">
               <nav >
                  <ul class="siteMap">
                     <li >
                        <a href="/about/index.html">
                           <p class="siteMap_en">
                              ABOUT
                           </p>
                           <h3 class="siteMap_ja">
                              会社概要
                           </h3>
                        </a>
                     </li>
                     <li >
                        <a href="/business/index.html">
                           <p class="siteMap_en">
                              BUSINESS
                           </p>
                           <h3 class="siteMap_ja">
                              事業内容
                           </h3>
                        </a>
                     </li>
                     <li >
                        <a href="/works/index.html">
                           <p class="siteMap_en">
                              WORKS
                           </p>
                           <h3 class="siteMap_ja">
                              実績
                           </h3>
                        </a>
                     </li>
                     <li >
                        <a href="/recruit/index.html">
                           <p class="siteMap_en">
                              RECRUIT
                           </p>
                           <h3 class="siteMap_ja">
                              採用情報
                           </h3>
                        </a>
                     </li>               
                  </ul>
               </nav>
            </div>
         </main>
         <!-- //// BODY END -->
        <%- include( $path + '_inc/_footer' ) %>
         <!-- ***** menu button -->
         <%- $parts.toggle %>
         <!-- //// menu button -->
        <%- include($path + '_inc/_scripts') %>
   </body>

</html>