<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="ja" class="ie">
<![endif]-->
<!--[if !IE]<!-->
<html lang="ja">
   <!--<![endif]-->
   <% include _inc/function %>
   <%
      $meta.title = 'about - BIOGRAPHY'
   %>
   <%
   $path = '';
   $active = 'about';
   $css = ['css/_include/style.css'];
   $scripts_global=null;
   $scripts=[
   $path + 'common/js/pjax/spica.js',
   $path + 'common/js/pjax/localsocket.js',
   $path + 'common/js/pjax/pjax-api.js',
   $path + 'common/js/pjax/config.js',   
   $path + 'common/js/common.js',
   $path + 'common/js/childpage.js',
   'js/about/script.js'];
   %>
   <head>
     <%- include($path + '_inc/_header') %>
   </head>

   <body class="about about-biography">
      
      <%- $parts.loadingAnim %>  

      <!-- ***** header  -->
        <%- include($path + '_inc/_gnav', {logo: true}) %>
      <!-- ///// header  -->


      <!-- ***** mainvisual -->
      <section class="pagevisual pagevisual-child hasGradation">
         <div class="wrap">

            <!-- *** text -->
            <div class="pagevisual_copy">
              <h2 class="pagevisual_copy_pagename">
                BIOGRAPHY
              </h2>
            </div>
            <!-- /// text -->

            <i class="icon icon-mouse"></i>
         </div>
      </section>
      <!-- ///// mainvisual  -->
      
      <!-- ***** BODY START -->
      <main class="main topGradation">
         <div class="timeline">
               <div class="wrap">
                  <article class="timeline_event start ltor tl1989">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           1989.03.11
                        </p>
                        <div class="timeline_event_info">
                           <h3>北海道にて生誕</h3>
                           <div>
                              北海道旭川市にて育つ。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-clacker.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                  <article class="timeline_event rtol tl1994">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           1994.03
                        </p>
                        <div class="timeline_event_info">
                           <h3>愛知県に引っ越し</h3>
                           <div>
                              5歳で北海道から愛知県へ。<br/>
                              知り合う女子には、今でも北海道出身を強調する。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-airplane.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                   <article class="timeline_event rtol tl2007">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2007.XX
                        </p>
                        <div class="timeline_event_info">
                           <h3>ストリートダンスとの出会い</h3>
                           <div>
                              ストリートダンスを始める。ヴォーカル&ダンススクールに合格するも半年で辞め、その後出会った仲間とクラブイベント出演やバックダンサーとして活動。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-shoes.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                  <article class="timeline_event ltor tl2012">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2012.12
                        </p>
                        <div class="timeline_event_info">
                           <h3>ECサイト運用。<br>ひとり10万買うサイトになる</h3>
                           <div>
                              アルバイトでアパレル系ECサイトを運用。<br>新店舗を任されダンサー向けウェアを販売し、最高で1人あたり10万円の売上。当時ニッチな分野を開拓？
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-chart.svg" width="70" alt=""/></i>
                     </div>
                  </article>                
                  <article class="timeline_event rtol tl2013">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2013.02
                        </p>
                        <div class="timeline_event_info">
                           <h3>憧れのWeb業界へ？</h3>
                           <div>
                              ECサイトで簡単なHTMLを触ったことから「なんとなく、これで仕事できたら…」と思ったところ、知人を介し、なんのスキルもないまま名古屋の制作会社でアルバイトすることに。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-company.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                  <article class="timeline_event ltor tl2013-2">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2013.06
                        </p>
                        <div class="timeline_event_info">
                           <h3>東京の会社に内定</h3>
                           <div>
                             業界のスキルアップを目指し面接を受けていた企業に内定。上京を決意。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-train.svg" width="70" alt=""/></i>
                     </div>
                  </article>  
                 <article class="timeline_event rtol tl2013-3">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2013.07
                        </p>
                        <div class="timeline_event_info">
                           <h3>勤務、スタート</h3>
                           <div>
                             アフィリエイト用LPの制作を主に担当。のちに、会員制サイトのwordpress構築やLINEスタンプ制作、社内恋愛などを経験。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-company.svg" width="70" alt=""/></i>
                     </div>
                  </article>  
                 <article class="timeline_event ltor tl2014">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2014.07
                        </p>
                        <div class="timeline_event_info">
                           <h3>オウンドメディア立ち上げ</h3>
                           <div>
                             後発組ながらも、メディア立ち上げプロジェクトにジョイン。Wordpressでレスポンシブ対応。サイト、ロゴデザインも担当。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-desktop.svg" width="70" alt=""/></i>
                     </div>
                  </article>

                  <article class="timeline_event rtol tl2014-2">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2014.12
                        </p>
                        <div class="timeline_event_info">
                           <h3>LINEスタンプリリース</h3>
                           <div>
                             所属先事業部の新規事業としてのLINEスタンプ制作で、イラストを担当。3度のリジェクトの後、リリース。ほぼ売れなかった。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-desktop.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                  <article class="timeline_event ltor tl2015">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2015.06
                        </p>
                        <div class="timeline_event_info">
                           <h3>育毛剤ランキングサイト制作</h3>
                           <div>
                            他事業部のマーケターとタッグ。アフィリエイト用LPとランキングサイトを制作。wordpressで構築し、ajaxでYes／No診断コンテンツや並びかえ機能まで実装。サイトの他ロゴデザインも担当。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-desktop.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                  <article class="timeline_event rtol tl2015-2">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2015.12
                        </p>
                        <div class="timeline_event_info">
                           <h3>輸入アロマオイルECサイト制作</h3>
                           <div>
                            他事業部とタッグ。輸入アロマオイルの販売サイトをYahoo!ショッピングにて開設。カスタマイズ、バナー制作、アクセス解析や施策を担当。サイト、ロゴのデザインも担当。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-company.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                  <article class="timeline_event ltor tl2016">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2016.04
                        </p>
                        <div class="timeline_event_info">
                           <h3>企業ブランディング×クリエイティブ</h3>
                           <div>
                              CI,VI,グラフィック,Web,映像…とブランディングを行うクリエイティブ企業へ。コンペや実案件で企業Webサイトのデザイン、コーディングを担当
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-company.svg" width="70" alt=""/></i>
                     </div>
                  </article>
                   <article class="timeline_event rtol tl2017">
                     <div class="timeline_event_content">
                        <p class="timeline_event_date">
                           2017.07
                        </p>
                        <div class="timeline_event_info">
                           <h3>フリーランスに転向？</h3>
                           <div>
                           さらにじっくりクリエイティブに対して向き合うため。デザインもコーディングもやるからこそ、向き合えるものがあるはず。フリーランスに転向。
                           </div>
                        </div>
                        <i class="timeline_event_icon"><img src="img/about/icon-ideas.svg" width="70" alt=""/></i>
                     </div>
                  </article>                  

                  <section class="timeline_event now tl2222">

                     <div class="tweetbox">
                        <a class="twitter-timeline" href="https://twitter.com/satohmsys" data-height="400">Tweets by satohmsys</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <p class="tweetbox_now">Now</p> 
                     </div>
                  </section>

               </div>
            <i id="line" class="timeline_line"></i>
         </div>
          <div class="relatedLink">
           <div class="wrap">
             <ul>
               <li>
                  Back to<div class="button button-link"><a href="page-about.html">ABOUT</a></div>
               </li>
             </ul>
          </div>  
        </div>         
      </main>
      <!-- //// BODY END -->
     
      <%- include( $path + '_inc/_footer', {hasGradation: true} ) %>

      <%- $parts.backtotop %>

      <%- $parts.fixedsns %>


      <!-- ***** menu button -->
      <%- $parts.toggle %>
      <!-- //// menu button -->

      
     <%- include($path + '_inc/_intro') %>

     <%- include($path + '_inc/_scripts') %>
   </body>

</html>