<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="ja" class="ie">
<![endif]-->
<!--[if !IE]<!-->
<html lang="ja">
   <!--<![endif]-->
   <% include _inc/function %>
   <%
      $meta.title = 'THINK'
   %>
   <%
   $path = '';
   $active = 'think';
   $css = ['css/_include/style.css'];
   $scripts_global=null;
   $scripts=[
  $path + 'common/js/pjax/spica.js',
  $path + 'common/js/pjax/localsocket.js',
  $path + 'common/js/pjax/pjax-api.js',
  $path + 'common/js/pjax/config.js',   
   $path + 'common/js/common.js',
   $path + 'common/js/childpage.js',
   'js/think/script.js'];
   %>
   <head>
     <%- include($path + '_inc/_header') %>
   </head>

   <body class="think">
      
      <%- $parts.loadingAnim %>  

      <!-- ***** header  -->
      <%- include($path + '_inc/_gnav', {logo: true}) %>
      <!-- ///// header  -->


      <!-- ***** mainvisual -->
      <section class="pagevisual hasGradation">
         <div class="wrap">

            <div class="pagevisual_copy">
               <h2>
                  <p class="pagevisual_copy_pagename">
                   THINK
                  </p>
                  <p class="handWrite">   
                     about 'Design'
                  </p>
                  
               </h2>
            </div>

            <i class="icon icon-mouse"></i>

           <img src="img/think/think-main.png" width="435" class=" pagevisual_img" alt="">
         </div>
      </section>
      <!-- ///// mainvisual  -->
      
      <!-- ***** BODY START -->
      <main class="main topGradation">

         <section class="section section-message">
            <div class="wrap">
               <header class="section_index">
                  <h3>
                     <svg viewBox="0 0 680 70">
                       <defs>
                          <linearGradient id="gradation">
                             <stop offset="0" stop-color="#00d8fd"/>
                             <stop offset="0.9" stop-color="#0eff9e"/>
                          </linearGradient>
                        </defs>
                        <text text-anchor="middle" x="340" y="55" fill=url(#gradation) font-size-adjust="1">
                          “Message”
                        </text>
                     </svg>
                  </h3>
               </header>
               <div class="section_content">
                  「クライアントのメッセージをデザインする」ことをたいせつに。<br/>
                  形にするべきものは何か、そこに込める想いは？を突き詰めて、<br/>納得のいく、納得していただけるモノづくりを目指します。
               </div>
            </div>
         </section>

         <section class="section section-easy">
            <div class="wrap">
               <header class="section_index">
                  <h3>
                     <svg viewBox="0 0 680 70">
                        <text text-anchor="middle" x="340" y="55" fill=url(#gradation) font-size-adjust="1">
                          “Easy”
                        </text>
                     </svg>
                  </h3>
               </header>
               <div class="section_content">
                  <p>ユーザーにとって、わかりやすく、適切に伝える。<br/>
                     そのために、使いやすく整理する。</p>
                  <p>チームにとって、わかりやすいデータ、わかりやすいコミュニケーション。</p>
                  <p>気持ちのいい仕事を意識して取り組みます。</p>
               </div>
            </div>
         </section>

         <section class="section section-trend">
            <div class="wrap">
               <header class="section_index">
                  <h3>
                     <svg viewBox="0 0 680 70">
                        <text text-anchor="middle" x="340" y="55" fill=url(#gradation) font-size-adjust="1">
                          “Trend”
                        </text>
                     </svg>
                  </h3>
               </header>
               <div class="section_content">
                  <p>とはいえ、形にするべきものはかっこよく、スマートに。<br/>
                  安定感のある見慣れた「定番」と、<br/>個性を際立たせる「流行」を取り入れることを考えます。</p>
               </div>
            </div>
         </section>   


         <section class="section section-trend">
            <div class="wrap">
               <header class="section_index">
                  <h3>
                     <svg viewBox="0 0 680 70">
                        <text text-anchor="middle" x="340" y="55" fill=url(#gradation) font-size-adjust="1">
                          “To like”
                        </text>
                     </svg>
                  </h3>
               </header>
               <div class="section_content">
                  <p>愛されるものをつくり、好かれるものづくりを目指します。</p>
               </div>
            </div>
         </section>                  

       
      </main>
      <!-- //// BODY END -->
     
      <%- include( $path + '_inc/_footer', {hasGradation: true} ) %>

      <%- $parts.backtotop %>

      <%- $parts.fixedsns %>


      <!-- ***** menu button -->
      <%- $parts.toggle %>
      <!-- //// menu button -->

      
     <%#- include($path + '_inc/_intro') %>

     <%- include($path + '_inc/_scripts') %>
   </body>

</html>