      <header>
         <div class="siteHeader">
            <div class="wrap clearfix">
            <% if( logo == true ) { %>
               <!-- *** logo -->
               <h1 class="siteHeader_logo">
                  <a href="<%= $path %>"><span class="name">Satohmsys</span><span class="handWrite">portfoliosite</span></a>
               </h1>
               <!-- /// logo -->
            <% } %>

            <!-- *** navigation -->
               <nav class="siteHeader_nav nav">
                  <ul class="wrap">
                     <li<% if($active == 'top' ){%> class="current"<% } %>><a href="<%= $path %>index.html">TOP</a></li>
                     <li<% if($active == 'about'){ %> class="current"<%}%>><a href="<%= $path %>page-about.html">ABOUT</a></li>
                     <li<% if($active == 'think' ){%> class="current"<%}%>><a href="<%= $path %>page-think.html">THINK</a></li>
                     <li<% if($active == 'works' ){%> class="current"<%}%>><a href="<%= $path %>archive-works.html">WORKS</a></li>
                     <li class="nav_contact button button-nav"><a href="#contact">CONTACT</a></li>
                  </ul>
               </nav>
               <!-- /// navigation -->
             
            </div>
         </div>
      </header>