     <meta charset="UTF-8">
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-59181904-2"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-59181904-2');
      </script>
     
      <meta http-equiv="X-UA-Compatible" content="IE=Edge"> 
      <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1"> 
      <!-- ***** my style -->
      <link rel="stylesheet" type="text/css" href="<%- $path %>common/css/nomalize.css">
     <link rel="stylesheet" type="text/css" href="<%- $path %>common/css/style.min.css">      
      <%
            if( $css ){
            $css.forEach( function( current, index ){
       %>
      <link rel="stylesheet" type="text/css" href="<%- current %>">
       <%           
            });
            }
      %>
      <!-- ///// my style -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
      <!--[ if lte IE 8]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>	
<![endif]-->
      <title><%- $meta.title %></title>
      <meta name="keywords" content="<%- $meta.keywords %>">
      <meta name="description" content="<%- $meta.description %>">
      <meta property="og:title" content="<%- $meta.og.title %>">
      <meta property="og:site_name" content="<%- $meta.og.sitename %>">
      <meta property="og:description" content="<%- $meta.og.description %>">
      <meta property="og:type" content="<%- $meta.og.type %>">
      <meta property="og:image" content="<%- $meta.og.image %>">
      <meta property="og:url" content="<%- $meta.og.url %>">
      <meta property="fb:app_id" content="341652896351256">
      <meta property="article:publisher" content="https://www.facebook.com/%E6%A0%AA%E5%BC%8F%E4%BC%9A%E7%A4%BEDonatello-1103021019747652/">
      <meta name="twitter:card" content="summary">
      <!-- <meta name="twitter:site" content="@flickr" > -->
      <meta name="twitter:title" content="<%- $meta.twitter.title %>">
      <meta name="twitter:description" content="<%- $meta.twitter.description %>">
      <link rel="shortcut icon" href="<%- $path %>common/img/favicon.png"> 