<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="ja" class="ie">
<![endif]-->
<!--[if !IE]<!-->
<html lang="ja">
<!--<![endif]-->
<% include('../_inc/_function') %>   
<%
$path = '../';
$active = 'recruit';
$css = null;
$scripts_global=null;
$scripts=null;
$meta.title = 'RECRUIT 採用情報 | Donatello 東京のSES、システム開発、エンジニア育成';
$meta.description = 'ディスクリプション';
%>
<head>
 <%- include($path + '_inc/_head') %>
</head>
<body class="business">
   <%# $parts.loadingAnim %>   
   <!-- ***** header  -->
   <%- include( $path + '_inc/_gnav', {isChild: true}) %>
   <!-- ///// header  -->
   <div id="fetchContent" data-content="business">
      <!-- ***** mainvisual -->
      <%- include( $path + '_inc/_page-headingArea', {copy:{en: 'RECRUITING', ja: '採用情報'} }) %>
      <!-- ///// mainvisual  -->
         <nav >
            <ul class="pageNav">
               <li class="pageNav_anchor"><a href="#newgraduate">新卒採用<%- $parts.arrowNext %></a></li>
               <li class="pageNav_anchor"><a href="#career">中途採用<%- $parts.arrowNext %></a></li>               
               <li class="pageNav_anchor"><a href="#parttimer">アルバイト採用<%- $parts.arrowNext %></a></li>               
            </ul>
         </nav>      
      <!-- ***** BODY START -->
      <main class="main">
<!-- *** about -->
<section id="supported" class="section -supported">
   <article>
      <header class="section_index">
        <h3>
         <span class="section_index_en">
            <span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="300px" height="20px" text-anchor="middle" viewBox="0 0 300 20">
               <linearGradient id="gradation"><stop offset="0" stop-color="#0C3FFF"></stop><stop offset="1" stop-color="#8BFFAC"></stop></linearGradient>               
               <text x="150" y="19" fill="url(#gradation)">RECRUITING INFO</text></svg></span>
            </span>
            <span class="section_index_ja">
              採用情報
           </span>
        </h3>
     </header>
     <div class="section_content wrap">
      <table class="styleTable">
         <tr>
            <th class="styleTable_index" colspan="2">新卒/既卒採用</th>
         </tr>
        <tr>
           <th>サーバーサイド</th>
           <td>Java(Spring / Spring Integration / Spring Boot / Struts / JAVA EE等)
            JavaScript / JQuery
            JSP / Tymeleaf
         PHP / Ruby (Rails)</td>
      </tr>
      <tr>
         <th>端末</th>
         <td>C# / VB(.net FrameWork)</td>
      </tr>
      <tr>
         <th>データベース</th>
         <td>Oracle / MySql(MariaDB) / SQLServer / SQLite / MS Access / PostgreSQL / Symfoware</td>
      </tr>
      <tr>
         <th>その他</th>
         <td>Excel / Access VBA</td>
      </tr>
      <tr>
         <th>従業員数</th> 
         <td>5名（契約社員・パートナー含む）</td>
      </tr>
   </table>
</div>
</article>
</section>
<!-- /// about -->      

</main>
<!-- //// BODY END -->

<%- include( $path + '_inc/_footer' ) %>

<!-- ***** menu button -->
<%- $parts.toggle %>
<!-- //// menu button -->

<%- include($path + '_inc/_scripts') %>
</body>

</html>