<!DOCTYPE html>
<!--[if lte IE 9]>
<html lang="ja" class="ie">
<![endif]-->
<!--[if !IE]<!-->
<html lang="ja">
<!--<![endif]-->
<% include('../_inc/_function') %>   
<%
$path = '../';
$active = 'business';
$css = null;
$scripts_global=null;
$scripts=null;
$meta.title = 'BUSINESS 事業内容 | Donatello 東京のSES、システム開発、エンジニア育成';
$meta.description = 'ディスクリプション';
%>
<head>
 <%- include($path + '_inc/_head') %>
</head>
<body class="business">
   <%# $parts.loadingAnim %>   
   <!-- ***** header  -->
   <%- include( $path + '_inc/_gnav', {isChild: true}) %>
   <!-- ///// header  -->
   <div id="fetchContent" data-content="business">
      <!-- ***** mainvisual -->
      <%- include( $path + '_inc/_page-headingArea', {copy:{en: 'BUSINESS', ja: '事業内容'} }) %>
      <!-- ///// mainvisual  -->
      <nav >
         <ul class="pageNav">
            <li class="pageNav_anchor"><a href="#philosophy">企業理念<%- $parts.arrowNext %></a></li>
            <li class="pageNav_anchor"><a href="#about">会社概要<%- $parts.arrowNext %></a></li>               
         </ul>
      </nav>
      <!-- ***** BODY START -->
      <main class="main">
         <!-- *** philosophy -->
         <section id="philosophy" class="section -philosophy">
            <article>
               <header class="section_index" data-en="philosophy">
                 <h3>
                  <span class="section_index_en">
                     <span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="200px" height="20px" text-anchor="middle" viewBox="0 0 200 20">
                        <linearGradient id="gradation"><stop offset="0" stop-color="#0C3FFF"></stop><stop offset="0.9" stop-color="#8BFFAC"></stop></linearGradient>
                        <text x="100" y="19" fill="url(#gradation)">PHILOSOPHY</text></svg></span>
                     </span>
                     <span class="section_index_ja">
                       企業理念
                    </span>
                 </h3>
              </header>
              <div class="section_content wrap">
               <p class="intro">
                  株式会社Donatelloでは、「テキストご支給」を掲げ、<br>
                  技術の進歩と共に社会の発展に貢献します。
               </p>
               <section class="philosophy_chart">
                  <header class="philosophy_chart_index">
                     <h4>スキル向上における6つの考え方</h4>
                  </header>
                  <figure class="philosophy_chart_img">
                     <img src="<%- $path %>common/img/about-chart.svg" alt="Donatello エンジニアスキル向上におけるハニカム構造">
                  </figure>
               </section>
               <section class="philosophy_list">
                  <ul class="philosophyList">
                     <li>
                        <dl>
                           <dt class="philosophyList_index" data-en="STUDY">
                              学習
                           </dt>
                           <dd class="philosophyList_content">
                              あああああああああああ
                           </dd>
                        </dl>
                     </li>
                     <li>
                        <dl>
                           <dt class="philosophyList_index" data-en="EDUCATION">
                              教育
                           </dt>
                           <dd class="philosophyList_content">
                              あああああああああああ
                           </dd>
                        </dl>
                     </li>
                     <li>
                        <dl>
                           <dt class="philosophyList_index" data-en="CREATION">
                              創造
                           </dt>
                           <dd class="philosophyList_content">
                              あああああああああああ
                           </dd>
                        </dl>
                     </li>
                     <li>
                        <dl>
                           <dt class="philosophyList_index" data-en="MORAL">
                              道徳
                           </dt>
                           <dd class="philosophyList_content">
                              あああああああああああ
                           </dd>
                        </dl>
                     </li>
                     <li>
                        <dl>
                           <dt class="philosophyList_index" data-en="COMMUNICATION">
                              連携
                           </dt>
                           <dd class="philosophyList_content">
                              あああああああああああ
                           </dd>
                        </dl>
                     </li>
                     <li>
                        <dl>
                           <dt class="philosophyList_index" data-en="MANAGEMENT">
                              管理
                           </dt>
                           <dd class="philosophyList_content">
                              あああああああああああ
                           </dd>
                        </dl>
                     </li>
                  </ul>
               </section>
            </div>
         </article>
      </section>
      <!-- /// philosophy -->
      <!-- *** about -->
      <section id="about" class="section -about">
         <article>
            <header class="section_index">
              <h3>
               <span class="section_index_en">
                  <span><svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="200px" height="20px" text-anchor="middle" viewBox="0 0 200 20">
                     <text x="100" y="19" fill="url(#gradation)">ABOUT</text></svg></span>
                  </span>
                  <span class="section_index_ja">
                    会社概要
                 </span>
              </h3>
           </header>
           <div class="section_content wrap">
            <table class="styleTable">
              <tr>
                 <th>社名</th>
                 <td>株式会社Donatello</td>
              </tr>
              <tr>
               <th>本社</th>
               <td>東京都港区白金1-15-29 天翔白金ビル203</td>
            </tr>
            <tr>
               <th>設立</th>
               <td>2010/07</td>
            </tr>
            <tr>
               <th>資本金</th>
               <td>2,000,000円</td>
            </tr>
            <tr>
               <th>従業員数</th> 
               <td>5名（契約社員・パートナー含む）</td>
            </tr>
            <tr>
               <th>役員</th>
               <td>
                  <ul>
                     <li>吉岡 祐太</li>
                     <li>森岡 晋也</li>
                  </ul>
               </td>
            </tr>
            <tr>
               <th>取引銀行</th>
               <td>千葉銀行 初石支店</td>
            </tr>
         </table>
      </div>
   </article>
</section>
<!-- /// about -->      

</main>
<!-- //// BODY END -->

<%- include( $path + '_inc/_footer' ) %>

<!-- ***** menu button -->
<%- $parts.toggle %>
<!-- //// menu button -->

<%- include($path + '_inc/_scripts') %>
</body>

</html>